*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
**/res/values/keys.xml
package-lock.json
package.json
gradle.properties
.idea/

firebase.json
.firebaserc
.env
.env.local
.env.*.local
serviceAccountKey.json

functions/node_modules/

node_modules/


npm-debug.log
yarn-debug.log
yarn-error.log
